<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    *{
        height:;
    }
</style>
<body>
    <form action="http://localhost:3000/api/admin/addlimit" method="POST">
        <input type="text" name="limitname" id="" value="/admin">
        <input type="text" name="title" id="" value="一级路由">
        <input type="submit">
    </form>

</body>
<script>

</script>

</html>